body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    background-color: #ca6a6a;
    max-width: 600px; /* Adjust the maximum width as needed */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header {
    background-color: #7ea5cf;
    color: #ca6a6a;
    text-align: center;
    padding: 20px;
}

header img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 20px;
    display: block;
    margin: 0 auto;
}

section {
    padding: 20px;
}

h2 {
    color: #3ba3b1;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

a {
    color: #6d8dae;
    text-decoration: none;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #b17878;
}

footer a {
    color: #567481;
    text-decoration: none;
}
